body{
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

#footer {
    padding-top: 50px;
	padding-bottom: 0px;
}

/* index */
#photo {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0),rgba(200, 200, 200, 0)),url("../pictures/backg.png");
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;
}



#award {
    height: 75%;
}

.newback {
    padding: 50px;
}

.plax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 50%;
}

.navbar-toggler:focus {
    outline:none !important;   
}

.navbar-header.col {
    padding: 0 !important;
}	
#navbar1 {		
    background: rgb(0, 0, 0);
    padding-right: 16px;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

#navbar2 {		
    background: rgba(0, 0, 0, 0.541);
    padding-right: 16px;
    border-bottom: 1px solid #00000000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: rgb(255, 255, 255);
    padding-left: 0;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.navbar .navbar-brand b {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
    color: rgb(255, 255, 255) !important;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    color: rgb(255, 255, 255) !important;
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
    background-color: transparent !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: auto;
    text-align: center;
    color:  #777;
}

.nounder  {
    color:white;
    text-decoration: none;
}

.nounder:hover {
    color: white;
    text-decoration: none;
}

.region {
    text-align: center;
    vertical-align: middle;
    color:rgb(80, 0, 0);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.icon {
    color: #777;
    padding: 5px;
}

#footer.row {
    margin: auto;
    text-align: center;
    color:  #777;
    background: #fff;
    border-top: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.footer,.footer2 {
    color:  #777;
    text-decoration: none;
    font-size: 25px;
    padding: 5px
}

.footer:hover,.footer2:hover {
    color:  rgb(80, 0, 0);
    text-decoration: none;
    font-size: 25px;
    padding: 5px
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}


.cool-link {
    display: inline-block;
    color: rgb(80, 0, 0);
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:rgb(80, 0, 0);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.btn-lg, .btn-lg:hover {
    color: white;
    border-radius: 0;
    background-color: rgb(80, 0, 0);
}

.school {
    color: rgb(80, 0, 0);
}

.nat {
    color: navy;
}

.pillTextHead {
    color: #777;
}

.pillText {
    color: #777;
    text-decoration: none;
}

.pillText:hover {
    color: rgb(80, 0, 0);
    text-decoration: none;
}

.service {
    padding-top: 20px;
}

.motto,.underline {
    border-bottom: 1px solid;
}

/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.reviewRes {
    max-width: 380px;
    max-height: 950px;
    width: auto;
    height: auto;
}

.maroonLink,.maroonLink:hover {
    color: rgb(80, 0, 0);
    text-decoration: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.for-mobile {
    display: none;
}

.forIpad {
    display: none;
}

.maroon, .maroon:hover {
    background-color: #800000;
    color: white;
}

/* Get around ipad pro issue */
@media (min-width: 1280px) and (max-width: 1365px) , (min-width: 1367px) {
    .plax {
        background-attachment: fixed;
    }
}

/*Calendar Adjustment*/
@media (min-width: 300px) and (max-width: 1023px){
    .big-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .small-container {
        display: none;
    }
    #name {
        font-size: 12px;
    }

    #posiiton {
        font-size: 12px;
    }
    .eInfo,#major{
        font-size: 12px;
    }
    
    .footer2 {
        font-size: 15px;
    }
    .forIpad {
        display: inherit;
    }

}


/*fix issues with ipad*/
@media (min-width: 760px) {
    .motto,.icon {
        font-size: 25px !important;
    }
}

/*mobile devices*/
@media (max-width: 750px) {
    #name {
        font-size: 15px;
    }

    #posiiton {
        font-size: 12px;
    }

    /*Can't spell too lazy to fix*/

    #photo {
        padding: 75px;
    }
    #photo2,#photo3,#photo4,#subregional,#confaward,#lucas,
    #chp,#memretreat,#icesocial,#imural,#faq,
    #former,#former2,#former3,#former4,#leadshpe,
    #emmanuelTalking,#awardPhoto,#bowl,#volley,
    #pro,#resumeWork,#close,#service,#outreach,
    #service2,#boil,#review,#fin,#sponsor,#acd,
    #scholar,#acdWork {
        padding: 150px;
    }
    .reviewRes {
        max-width: 250px;
        max-height: 750px;
        height: auto;
        width: auto;
    }
    .school,.nat {
        font-size: 30px;
        border-bottom: solid 1px #777;
        padding-bottom: 5px;
    }
    .pillText {
        text-align: justify !important;
    }
    .icon {
        font-size: 15px !important;
    }
    .motto,.rem,.non-mobile, .quoteimage {
       display: none;
    }
    .for-mobile {
        display: inherit;
    }
    .eInfo, #major {
        font-size: 10px;
    }
    .footer2 {
        font-size: 15px;
    }
}

/* index */

/* about */

#background1 {

    background-image: url("../pictures/grayback.jpg");
}

#photo1 {
        background-image: url("../pictures/photo3.jpg");
        opacity: 0.75;
        padding: 150px;
        padding-top: 300px;
        padding-bottom: 300px;
}

.first{

    padding-top: 6%;
}

.transparent{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.quoteimage {
    color: white;
    font-weight: bold;
    font-size: 35pt;
}

#photo2{
    background-image: url("../pictures/thankful.JPG");
    opacity: 0.75;
    padding: 150px;
    padding-top: 300px;
    padding-bottom: 300px;


}

.heightlimit {
    max-height: 600px;
}


       /* Modal style */
        
       .membermodal{
        height: 325px;
        overflow-y: scroll;
    }

    #membermodalfoot{
        padding: 0%;
    }

    #cardbodymodal {
        padding: 1rem;
    }
    .btn-secondary{
        background-color: #D33A02;
    }
    .btn-secondary:hover{
        background-color: rgb(185, 120, 96);
    }

    #photo3{
        background-image: url("../pictures/genmotors.JPG");
        opacity: 0.75;
        padding: 150px;
        padding-top: 300px;
        padding-bottom: 300px;
    
    
    }

    .cardheight {

        height: 50%;
    }

    .container-title {
        color: white;
    }